@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,italic,700);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Lato;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.header {
  width: 100%;
  position: relative;
  padding-bottom: 38%;
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 65%;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .header__menu {
    padding-top: 1%;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    left: 20px;
    top: 15px;
    z-index: 1100;
  }
}

.header__burger::before {
  content: "";
  top: 0;
  background-color: rgba(0, 0, 0, 0.609);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::after {
  content: "";
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.609);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.596);
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

@media (max-width: 767px) {
  .header__sub-menu {
    margin: 0;
  }
}

.header__sub-menu li {
  position: relative;
  margin-right: 70px;
}

@media (max-width: 767px) {
  .header__sub-menu li {
    margin: 0 auto 30px;
  }
}

@media (max-width: 767px) {
  .header__sub-menu li:first-child {
    margin-top: 50px;
  }
}

.header__sub-menu li:nth-child(3) {
  margin-left: 150px;
}

@media (max-width: 767px) {
  .header__sub-menu li:nth-child(3) {
    margin: 0 auto 30px;
  }
}

.header__sub-menu li::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  bottom: 3px;
  right: -35px;
  background-color: #4d4959;
}

@media (max-width: 767px) {
  .header__sub-menu li::after {
    display: none;
  }
}

.header__sub-menu li:nth-child(2)::after {
  display: none;
}

.header__sub-menu li:last-child::after {
  display: none;
}

.header__sub-menu a {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .header__sub-menu a {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .header__sub-menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 70px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
    z-index: 1000;
  }
  .header__sub-menu.active {
    display: block;
    top: 0;
    text-align: center;
  }
}

.header__logo {
  position: absolute;
  max-width: 100%;
  top: 20px;
}

@media (max-width: 767px) {
  .header__logo {
    margin-left: 1.2%;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
            transform: scale3d(0.7, 0.7, 0.7);
    top: -1%;
  }
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.container {
  max-width: 1079px;
  margin: 0 auto;
}

.mainlabel {
  background-color: #f7f7f7;
  padding: 6% 0;
  text-align: center;
}

.mainlabel__logo {
  margin-bottom: 2%;
}

.mainlabel__main-title {
  margin-bottom: 2%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.mainlabel__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  padding: 0 4px;
}

@media (max-width: 767px) {
  .mainlabel__text {
    line-height: 20px;
  }
}

.olivia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "mainbg mainbg label" "mainbg mainbg subbg";
}

.olivia img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .olivia {
        grid-template-areas: "mainbg mainbg mainbg" "label label label" "subbg subbg subbg";
  }
}

.olivia__mainbg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mainbg;
  position: relative;
}

.olivia__bglogo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.olivia__bglogo img {
  width: 80%;
  height: 80%;
}

.olivia__label {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: label;
}

.olivia__label img {
  width: 41px;
  height: 30px;
}

.olivia__subbg {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subbg;
}

.label {
  text-align: center;
  position: relative;
  padding: 30px 0;
}

@media (max-width: 1023px) {
  .label {
    padding: 20px 5px;
  }
}

.label::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.label__icon {
  margin-bottom: 4%;
}

.label__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin-bottom: 4%;
}

.label__text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
  padding: 0 5%;
}

@media (max-width: 1023px) {
  .label__text {
    line-height: 18px;
    padding: 0 4px;
  }
}

.label__text span {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  margin-top: 10%;
}

@media (max-width: 1023px) {
  .label__text span {
    margin-top: 4%;
  }
}

.bariosa {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "label mainbg mainbg " "subbg mainbg mainbg ";
}

.bariosa img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .bariosa {
        grid-template-areas: "mainbg mainbg mainbg" "label label label" "subbg subbg subbg";
  }
}

.bariosa__label {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: label;
}

.bariosa__label img {
  width: 32px;
  height: 32px;
}

.bariosa__subbg {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subbg;
}

.bariosa__mainbg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mainbg;
  position: relative;
}

.bariosa__bglogo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.bariosa__bglogo img {
  width: 80%;
  height: 80%;
}

.hulot {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "mainbg label scbg" "mainbg subbg scbg";
}

.hulot img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .hulot {
        grid-template-areas: "mainbg mainbg mainbg" "label label label" "subbg subbg subbg" "scbg scbg scbg";
  }
}

.hulot__mainbg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mainbg;
  position: relative;
}

.hulot__bglogo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.hulot__bglogo img {
  width: 80%;
  height: 80%;
}

.hulot__label {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: label;
}

.hulot__label img {
  width: 23px;
  height: 41px;
}

.hulot__subbg {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subbg;
}

.hulot__scbg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: scbg;
}

.slider {
  background-color: #f7f7f7;
  text-align: center;
  padding: 6% 0;
}

.slider__icon-link {
  margin-bottom: 2%;
}

.slider__title {
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__title span {
  margin-left: 1%;
  font-weight: 300;
  color: #848789;
}

.slider__left {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}

.slider__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin-bottom: 7%;
  padding: 0 1%;
}

.shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "item1 item2 item4 item5 item6 item6" "item3 item3 item4 item5 item7 item8";
}

.shop img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1023px) {
  .shop {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "item1 item2 item4" "item3 item3 item4" "item5 item6 item6" "item5 item7 item8";
  }
}

@media (max-width: 767px) {
  .shop {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "item1 item2" "item5 item4" "item5 item4" "item3 item3" "item6 item6" "item7 item8";
  }
}

.shop__item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.shop__item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.shop__item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item3;
}

.shop__item-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: item4;
}

.shop__item-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: item5;
}

.shop__item-6 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: item6;
  position: relative;
}

.shop__link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.shop__link span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  display: block;
  padding-top: 1%;
}

.shop__link a img {
  width: 51px;
  height: 30px;
}

.shop__item-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: item7;
}

.shop__item-8 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: item8;
}

.shop__footer {
  background-color: #282f35;
  padding: 3% 0;
}

.shop__btn {
  display: block;
  font-size: 14px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 auto;
}

.shop__btn:hover {
  -webkit-box-shadow: inset 0 0 20px white;
          box-shadow: inset 0 0 20px white;
}

.shop__btn:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.contact {
  text-align: center;
  margin-bottom: 7%;
}

.contact__logo {
  padding-top: 7%;
  margin-bottom: 4%;
}

.contact__text {
  margin-bottom: 2%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  max-width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  padding-left: 2%;
  margin: 6px 3px;
}

.contact__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 126px;
          flex: 0 1 126px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  height: 69px;
  background-color: #64c29e;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.contact__btn:active {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

@media (max-width: 531px) {
  .contact__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
    margin: 0 3px;
  }
}

.footer {
  background-color: #f7f7f7;
}

.footer__row {
  max-width: 1101px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__column {
    margin-bottom: 8%;
  }
}

.footer__info {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}

.footer__info li:first-child {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}

.footer__info li {
  margin-bottom: 2%;
}

.footer__info li:last-child {
  margin-bottom: 0;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -60%;
}

@media (max-width: 767px) {
  .footer__icons {
    margin-left: -20%;
  }
}

.footer__icons li {
  margin-right: 15%;
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__label span {
  white-space: nowrap;
  margin-right: 10px;
}
